<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OleDBConnection" connectionString ="
			 Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\GitHub\Module_17\MSAccess.accdb;Persist Security Info=True;User Id = Admin; Password = Admin"/>
		<add name="SQLConnection" connectionString ="
			 Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MSSQLLocalModule_16;Integrated Security=True;Pooling=true;User Id = Admin; Password = Admin"/>
	</connectionStrings>
</configuration>